h1 {
  color: Violet;
  text-align: center;
  font-family: copperplate;
}

<h1 style="border:2px SlateBlue;">

p {
  color: SlateBlue;
  text-align: center;
  font-family: copperplate;
}

body {
  background-color: lightpink;
}
