h1 {
  color: Violet;
  text-align: center;
  font-family: copperplate;
}

p {
  color: SlateBlue;
  text-align: center;
  font-family: copperplate;
  font-size: 20px;
}

p {
  border-style: double;
  border-color: white;
  border-width: 15px;
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}


#grad {
  background-image: linear-gradient(red, yellow);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
